<div>
    <p></p>
    <h1>WEB MARKET</h1>
    <p></p>
<!--    <h3>Registration:</h3>-->
<!--    <div class="col-9">-->
<!--        <form novalidate ng-submit="tryToRegistration()">-->
<!--            <input class="form-control" type="text" placeholder="Name" ng-model="newUser.username">-->
<!--            <p></p>-->
<!--            <input class="form-control" type="text" placeholder="Email" ng-model="newUser.email">-->
<!--            <p></p>-->
<!--            <input class="form-control" type="password" placeholder="Password" ng-model="newUser.password">-->
<!--            <p></p>-->
<!--            <button type="submit" class="btn btn-primary">Registration</button>-->
<!--        </form>-->
<!--    </div>-->
</div>